.ads{
    margin-bottom: 170px;
    &__title{
        position: absolute;
    }
    &__back{
        height: 789px;
        width: 100%;
    }
    &__on{
        opacity: 0.2;
        margin-top: 55px;
    }
    &__tw{
        opacity: 0.2;
        margin-top: 437px;
        width: 122px;
        position: absolute;
    }
    &__th{
        opacity: 0.2;
        margin-top: 316px;
        position: absolute;
        width: 196px;
        margin-left: 260px;
    }
    &__fo{
        opacity: 0.2;
        margin-top: 157px;
        position: absolute;
        width: 453px;
        margin-left: 491px;
    }
    &__fi{
        opacity: 0.2;
        position: absolute;
        left: 1592px;
        top: 140px;
        width: 100px;
    }
    &__si{
        opacity: 0.2;
        position: absolute;
        left: 1376px;
        top: 280px;
        width: 147px;
    }

}
.items{
    &__ques{
        position: absolute;
        right: 0;
        margin-top: 198px;
        height: 68%;
    }
    &__img{
        position: absolute;
        left: 195px;
        margin-top: 168px;
        height: 50%;
    }
    &__title{
        display: flex;
        margin-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        &__left{
            width: 40px;
            height: 40px;
            background-color: #1893FF;
            border-radius: 50%;
            img{
                padding: 12px 10px;
            }
        }
        &__right{
            color: white;
            display: flex;
            align-items: center;
            font-family: 'mr-r';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            margin-left: 20px;
        }
    }
    &__text{
        position: absolute;
        left: 744px;
        margin-top: 201px;
        h2{
            font-family: 'mr-r';
            font-weight: normal;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
            margin-bottom: 30px;
            color: #FFFFFF;
        }
    }
}