.footer{
    margin: auto;
    display: flex;
    width: 100%;
    background: #F2994A;
}
.menu{
    &__ul{
        display: flex;
        border-bottom: 0.3px solid #fff;
        padding: 0px -30px;
    }
    &__li{
        list-style: none;
        margin: 30px 31px;
    }
    &__li:first-child{
        margin-left: 0;
    }
    &__li:last-child{
        margin-right: 0;
    }
    &__a{
        text-decoration: none;
        font-family: 'mr-l';
        font-weight: normal;
        font-size: 14px;
        color: #FFFFFF;
    }
}
.menu__icons{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.icons__pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#fff;
    margin: 0px 25px;
}
.icons__img{
    padding: 16px 14px;
}
.menu__infos{
    justify-content: center;
    display: flex;
    margin-bottom: 47px;
    span{
        font-family: 'mr-r';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }
}