



.container{
    max-width: 1824px;
    margin: auto;
}
.head{
    display: flex;
    justify-content: space-between;
    &__logo{
        p{
            font-family: 'mr-b';
            font-style: normal;
            font-size: 14px;
            line-height: 18px;
            margin-top: 10px;
        }
    }
}
.row{
    &__ul{
        display: flex;
        justify-content: space-between;
    }
    &__li{
        list-style: none;
        align-items: center;
    }
    &__a{
        text-decoration: none;
        font-family: 'rb-r';
        font-size: 18px;
        font-family: 'mr-r';
        font-weight: normal;
        font-size: 14px;
        color: #3F3F3F;
        padding: 8px 32px;
        margin: 0px 20px;
    }
    &__a:hover{
        background: #F2994A;
        border-radius: 15px;
        color: #fff;
    }
}
.head__menu{
    align-items: center;
    display: flex;
    margin-left: 100px;
}
.head__info{
    h1{
        font-size: 24px;
        font-family: 'rb-r';
        font-weight: normal;
    }
}
.header{
    padding: 26px 0;
}

.head__info--img{
    width: 40px;
    height: 40px;
    background: #F2994A;
    border-radius: 50%;
    img{
        padding: 12px;
    }
}
.head__info__left{
    display: flex;
}
.head__info{
    display: flex;
    &--txt{
        display: flex;
        align-items: center;
        margin-left: 15px;
        a{
            font-family: 'rb-r';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            opacity: 0.5;
            text-decoration: none;
        }
    }
}
.head__info__btn{
    width: 212px;
    height: 40px;
    border: 1px solid #F2994A;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: unset;
    font-family: 'rb-r';
    font-weight: normal;
    font-size: 14px;
    color: #6F6F6F;
    cursor: pointer;
    margin-left: 49px;
}
.head__info__btn:focus{
    outline: 0;
}